@import "bootstrap.css";
@import "bootstrap-responsive.css";

.container {
	margin-left: 0;
	margin-right: 0;
}
a:link {
	text-decoration: none;
}
/*BEGIN navbar*/
nav {
	display: block;
	right: 0;
	left: 0;
	position: fixed;
	width: 100%;
	height: 40px;
	background-color: #1b1b1b;
}
li {
	display: block;
	float: left;
	padding: 10px 15px 10px 15px; 
	list-style-type: none;
}
li a { 
	font-size: 13px;
	color: #8B8B8B;
}
#logo {
	display: block;
	float: right;
	position: relative;
	margin-right: 20px;
	padding: 0px 20px 10px 20px;
	font-size: 20px;
	font-weight: bold;
	color: #000000;
	text-shadow: 0 1px 0 rgba(255,255,255,.1);
}
/*BEGIN header*/
.page-1 {
	background: linear-gradient(45deg, #020031 0%,#6d3353 100%);
	width: 100%;
}
header {
	margin-top: 100px;
	margin-bottom: 80px;	
}
header h1 {
	margin: 10px 0;
	line-height: 1;
	text-align: center;
	letter-spacing: -2px;
	font-size: 120px;
	font-weight: bold;
	color: #ffffff;
}
header p {
	margin-bottom: 20px;
	line-height: 1.25;
	text-align: center;
	font-size: 40px;
	color: #ffffff;
}
.down-butt {
	display: block;
	float: center;
	font-size: 24px;
}
.master-links {
	display: block;
	float: center;
	list-style-type: none;
	line-height: 20px;
}
.master-links a { 
	padding: 0 10px;
	font-size: 13px;
	color: #8B8B8B;
}
#color-version {
	font-size: 13px;
	color: rgba(255,255,255,0.25);
}

/*BEGIN 2nd page*/